@import "./base/index.scss";
@import "./popup.scss";
@import "./search.scss";
@import "./recipes.scss";
@import "./filters.scss";

body {
  width: 100%;
  background: var(--color-bg-primary);

  font: var(--font-type-body);
  color: var(--color-text-primary);
  overflow-y: scroll;
}

.prevent-scrolling {
  position: fixed;
}

.main {
  min-height: 100svh;
  background: var(--color-bg-primary);
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  padding: 2rem 0 0rem 0;
}
