/* -------------------------------------------------------------------------- */
/*                               RECIPES MESSAGE                               */
/* -------------------------------------------------------------------------- */
.recipes-message-box {
  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
  min-height: 150px;
  padding: 0 1rem;
  background: var(--color-bg-secondary);

  border-radius: var(--border-radius-200);

  &_show {
    display: flex;
  }
}

.recipes-message {
  text-align: center;
}

.recipes-message-title {
  margin: 0;
  font: var(--font-type-h2);
}
.recipes-message-subtitle {
  color: var(--color-text-secondary);
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   RECIPES                                  */
/* -------------------------------------------------------------------------- */

.recipes-container {
  @media (width > 1024px) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;

    min-height: 90vh;
  }
}

.recipes-search-container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}

.recipe-search-button {
  // padding: 0.5rem;
  height: var(--text-input-height);
  background: var(--color-bg-tertiary);
  border: none;

  border-radius: var(--border-radius-200);

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: inherit;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.recipe-search__message-box {
  display: grid;

  grid-template-rows: 0fr;

  transition: grid-template-rows 0.2s, border 0s 0.2s;

  &_show {
    grid-template-rows: 1fr;
  }
}

.recipe-search__message-content {
  overflow: hidden;
}

.recipe-search__message {
  text-align: center;
}

.recipes {
  padding-bottom: 1rem;
}

.recipes__cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;

  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 RECIPE CARD                                */
/* -------------------------------------------------------------------------- */

.recipe-card {
  width: 100%;
  background: var(--color-bg-secondary);

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  border-radius: var(--border-radius-400);
  cursor: pointer;
  & svg {
    fill: #fff;
  }
}

.recipe-card__img-wrapper {
  overflow: hidden;
  padding: 0.25rem;

  border-radius: var(--border-radius-400);
}

.recipe-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: var(--border-radius-300);
}

.recipe-card__description {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;

  padding: 0.5rem 1rem;
}

.recipe-card__title {
  font: var(--font-type-h3);
  color: var(--color-text-primary);
}

.recipe-card__meta {
  display: flex;
  flex-direction: column;
  row-gap: 0rem;
}

.recipe-card__meta-item {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- */
/*                              RECIPE BACKGROUND                             */
/* -------------------------------------------------------------------------- */

.recipe-bg {
  display: none;

  @media (width > 1024px) {
    position: sticky;
    top: 2rem;

    max-height: calc(100vh - 6rem);

    &_show {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.recipe-bg-img {
  width: 450px;
  height: 450px;

  & #salmon {
    animation: 12s ease-in-out infinite inverse-slide;
  }

  & #mushroom-4,
  & #avocado-1,
  & #tomato-1,
  & #avocado-2 {
    animation: 7.5s ease-in-out infinite slide;
  }

  & #mushroom-3,
  & #tomato-2,
  & #mushroom-2 {
    animation: 7.5s 0.5s ease-in-out infinite inverse-slide;
  }

  & #broccoli-4,
  & #stick-2,
  & #broccoli-1 {
    animation: 9s ease-in-out infinite inverse-slide;
  }

  & #broccoli-2,
  & #broccoli-3,
  & #tomato-3 {
    animation: 9s 0.5s ease-in-out infinite slide;
  }
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes inverse-slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   RECIPE                                   */
/* -------------------------------------------------------------------------- */

.recipe {
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow: auto;
  overscroll-behavior: none;

  background: var(--color-bg-primary);

  transform: translateX(100%);

  transition: transform 0.3s;

  &_show {
    transform: translateX(0%);
  }

  @media (width > 1024px) {
    display: none;
    position: sticky;
    top: 2rem;

    max-height: calc(100vh - 2rem);

    transform: none;

    transition: none;

    &_show {
      display: block;

      &::-webkit-scrollbar {
        width: 0.75rem;
      }

      &::-webkit-scrollbar-track {
        // background: var(--color-bg-tertiary);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--color-bg-tertiary);
        border: 3px solid var(--color-bg-primary);
        border-radius: 15px;
      }
    }
  }
}

.recipe-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.recipe__header {
  position: relative;
}

.recipe__close-button {
  display: grid;
  place-items: center;
  position: absolute;
  top: 10px;
  left: 10px;

  width: 35px;
  height: 35px;
  border: none;
  background-color: var(--color-bg-primary);

  border-radius: 50%;

  color: inherit;
  font: inherit;

  & svg {
    width: 1rem;
    fill: #fff;
  }

  @media (width > 1024px) {
    display: none;
  }
}

.recipe__img-wrapper {
  height: 60vw;
  overflow: hidden;

  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.6);

  @media (width > 1024px) {
    height: 25vw;

    border-radius: 1rem 1rem 0 0;
  }
}

.recipe__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.recipe__body {
  position: relative;
  top: -1rem;

  padding: 1rem;
  background: var(--color-bg-primary);

  border-radius: var(--border-radius-400);
}

.recipe__title {
  font: var(--font-type-h2);
}

.recipe__meta {
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  text-indent: 0;
  list-style-type: none;
}

.recipe__meta-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.recipe__clock-icon {
  fill: #fff;
}

.recipe__user-icon {
  fill: #fff;
}

.recipe__src {
  margin-top: 1rem;
}

.recipe__src-link {
  color: var(--color-text-primary);
  // text-decoration: none;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:visited {
    color: var(--color-text-primary);
  }
}

.recipe__ingredients {
  margin-top: 1rem;
}

.recipe__ingredients-title {
  font: var(--font-type-h3);
}

.recipe__ingredients-list {
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;

  text-indent: 0;
  list-style-type: none;
}

.recipe__ingredient {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-left: 1.25rem;

  font: var(--font-type-body);
  color: var(--color-text-secondary);

  &::before {
    content: "+";

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    margin: auto 0;

    // font-weight: 700;
  }

  &_used {
    color: var(--color-text-primary);

    &::before {
      content: "";

      left: 1px;
      top: 3px;

      width: 7px;
      height: 7px;
      background: #fff;

      border-radius: 50%;
    }
  }
}

.recipe__instructions {
  margin-top: 1rem;
}

.recipe__instructions-title {
  font: var(--font-type-h3);
}

.recipe__instruction-steps-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  margin: 0;
  margin-top: 0.5rem;
  padding: 0;

  text-indent: 0;
  list-style-type: none;
}

.instruction-step {
  display: grid;
  grid-template-columns: 2rem 1fr;

  font: var(--font-type-body);
  line-height: 1.5;
}

.instruction-step__number {
}

.instruction-step__step {
  margin: 0;
}
